* {
  box-sizing: border-box;
}
:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  background-color: rgba(223, 123, 9, 0.507);
  text-overflow: hidden;
}


.container1 {
  font-size: 3.2em;
  line-height: 1.1;
  border-radius: 10px;
  font-weight: 700;
  border: 1px solid #0000;
  background-color: #f8ddf3;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.App, .container1, .container2 { text-align: center;
margin-left: auto;
margin-right: auto;
padding: 10px;
margin: 0;}


.home {
  background-color:#a5b3a9;
  border-radius: 10px;
  height: 20rem;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
.page-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.homeErrBound {
  text-decoration: none;
  font-size: 20px;
}

.homeError {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;

}
.homePage {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 3 rem;
  font-weight: 800;
  font-style: italic;
}

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 20rem;
  height: 21.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color:#c276b4;
  border: 8px solid transparent;
  border-radius: 20px;
}

.toCounter {
  text-decoration: none;
}

.toPage {
  text-decoration: none;
  font-weight: 600;
}
.toError {
  text-decoration: none;
}

h1 {
  margin-top: 5px;
}

.linkHome {
  text-decoration: none;
  font-size: 20px;
}

input{ border-radius: 8px;
  border: 1px solid #0000;
  padding: 0.6em;
  font-size: 1.2em;
  font-weight: 500;
  margin: 10px;
 }

.count-style {
  font-size: 25px;
  padding-top: -10px;
  margin-bottom: 5px;
  font-size: 40px;
}

button {   background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}


.counter button:hover {
  background-color: #ccc;
}

.counter button:active {
  background-color:lightskyblue;
}
